@use 'variables';

.footer {
    width: variables.$footer-width;
    height: variables.$footer-height;
    background-color: #333;
    color: white;
    // Ensure the footer content is aligned in the center both vertically and horizontally.
    display: flex;
    justify-content: center;
    align-items: center;
    // Ensure the footer is aligned at the bottom of the page.
    position: fixed;
    bottom: 0;
}